#{extends 'main.html' /}
#{set title:'Posts tagged with ' + tag /}

*{********* Title ********* }*
 
#{if posts.size() > 1}
   <h3>&{'views.Application.listTaggedMultiple.title', posts.size(), tag}</h3>
#{/if}
#{elseif posts}
    <h3>&{'views.Application.listTagged.title', tag}</h3>
#{/elseif}
#{else}
    <h3>&{'views.Application.notag.title', tag}</h3>
#{/else}
 
*{********* Posts list *********}*
 
<div class="older-posts">
    #{list items:posts, as:'post'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div>